<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.micol.prj.notice.map.NoticeMapper">
	<!-- 게시판 단건조회 --> <!-- 마이바티스에 컬럼이름 설정해놓음 -->
	<select id="noticeSelect" resultType="co.micol.prj.notice.service.NoticeVO"> <!-- vo로 받았을때 나와 vo객체 이름을 통일시켜야한다 -->
		SELECT NOTICE_ID,
			   NOTICE_WRITER,
			   NOTICE_TITLE,
			   NOTICE_SUBJECT,
			   NOTICE_DATE,
			   NOTICE_HIT,
			   NOTICE_ATTECH
		FROM NOTICE
		WHERE NOTICE_ID = #{noticeId}	   <!-- mapper 안에서 값을 받을때는 #으로 받는다 $로 받으면 시큐어 가이드라인에서 걸린다 -->
	</select>
	
	<insert id="noticeInsert" parameterType="co.micol.prj.notice.service.NoticeVO"> <!-- 매퍼 인터페이스 자체에서 파라미터값을 받으니까 리절트타입을 안쓴다 하지만 어느 테이블에서 받는지 모르니 관례적으로 파라메터 타입을 써준다-->
		<selectKey keyProperty="noticeId" order="BEFORE" resultType="int"> <!-- INSERT 구문이 움직이기전에 keyProperty="id"를 찾아온다-->
			SELECT 
			    CASE WHEN MAX(NOTICE_ID) IS NULL THEN 1
			    ELSE MAX(NOTICE_ID)+1 
			    END AS ID
			FROM NOTICE
		</selectKey>
		INSERT INTO NOTICE <!-- 관례상 sql문은 대문자 -->
		VALUES(#{noticeId},#{noticeWriter}, #{noticeTitle}, #{noticeSubject}, #{noticeDate} , 0, #{noticeAttech}, #{noticeAttechDir}) <!-- vo네임은 똑같이-->
	
	</insert>
	
	<update id="noticeUpdate">
		update notice
		<set>
			<if test="noticeWriter !=null">NOTICE_WRITER = #{noticeWriter},</if>
			<if test="noticeTitle !=null">NOTICE_TITLE = #{noticeTitle},</if>
			<if test="noticeSubject !=null">NOTICE_SUBJECT = #{noticeSubject},</if>
			<if test="noticeDate !=null">NOTICE_DATE = #{noticeDate},</if>
			<if test="noticeAttech !=null">NOTICE_ATTECH = #{noticeAttech},</if>
			<if test="noticeAttechDir !=null">NOTICE_ATTECHDIR = #{noticeAttechDir}</if>
		</set>
		WHERE NOTICE_ID = #{noticeId}
	</update>
		
	<delete id="noticeDelete"></delete>
	
	<select id="noticeSearch" resultType="co.micol.prj.notice.service.NoticeVO">
		SELECT * FROM NOTICE
		WHERE
		<choose>
			<when test="key == 1">NOTICE_TITLE LIKE '%'|| #{val} ||'%'</when>
			<when test="key == 2">NOTICE_SUBJECT LIKE '%'|| #{val} ||'%'</when>
			<when test="key == 3">NOTICE_WRITER = #{val} </when>
		</choose>
	</select>
	
	<update id="noticeHitUpdate">
		UPDATE NOTICE SET NOTICE_HIT = NOTICE_HIT + 1 WHERE NOTICE_ID = #{noticeId}
	</update>
</mapper>